* {
    box-sizing: border-box;
}
:root {
    --primary-color: #143c3c;
    --header-bg: #10375c;
}

html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fff6ed;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
section,
button {
    font-size: inherit;
    font-family: inherit;
}
/* common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    --height: 50px;
    display: inline-block;
    min-width: 117px;
    background: #fffaf5;

    line-height: var(--height);

    height: var(--height);
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid rgb(0, 9, 8, 0.7);
    border-radius: 25px;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn-book:hover {
    background: var(--primary-color);
}
.round-point {
    width: 6px;
    height: 6px;
    background: #5f5b53;
    border-radius: 50%;
}
.round-point-active {
    background: var(--primary-color);
}
.round-point-often {
    background: #634700;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.line-clamp.line-3 {
    --line-clamp: 3;
}
.break-all {
    word-break: break-all;
}

.section__heading {
    font-family: "Sora";
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}
.section__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
/* header */
.header {
    padding: 26px 0;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    align-items: center;
    gap: 36px;
}

.header__menu__link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}
.header__menu__link:hover {
    text-shadow: 1px 0 0 #000958;
}
.hero {
    margin-top: 74px;
}
.hero__inner {
    display: flex;
    align-items: center;
    gap: 120px;
    justify-content: space-between;
}
.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    bottom: 10px;
    left: -58px;
}
.hero__decor-right {
    top: 16px;
    right: -43px;
}
.hero__img-wrap--small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border-radius: inherit;
    margin-left: -23px;
    margin-bottom: -58px;
    border: 2px solid #fcdcde;
}
.hero__media {
    position: relative;
    padding-bottom: 94px;
    display: flex;
}
.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}
.hero__list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background: #fec23f;
    border-radius: 10px;
}
.hero__list-item:last-child .hero__list-item__thumb {
    background: #c6e2fa;
}
.hero__list-item {
    display: flex;
    gap: 9px;
}

.hero__list-item__titel {
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
}

.hero__list-item__skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}
.hero__list-item__skeleton--small {
    margin-top: 6px;
    width: 39px;
}
.hero__list-item__line {
    margin: 20px 0;
    width: 100%;
    height: 0px;
    border: 2px solid #f2f2f2;
}

.hero__content__titel {
    max-width: 517px;
    font-family: "Sora";
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}
.hero__content__desc {
    max-width: 391px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
.hero__controls {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero__controls_btn {
    --height: 60px;
    color: #fff;
    display: flex;
    min-width: 190px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ff5b2e;
    border-color: #ff5b2e;
}
.hero__controls_btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__controls_r {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__controls_link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration-line: underline;
    color: #000958;
}
.about {
    margin-top: 138px;
}
.about__inner {
    display: grid;
    row-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.about__label {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}
.about__heading {
    margin-top: 15px;
    max-width: 446px;
}
.about__desc {
    margin-top: 24px;
    max-width: 431px;
}
.about__checklist {
    margin-top: 54px;
    display: grid;
    row-gap: 34px;
    grid-template-columns: repeat(2, 1fr);
}
.about__checkitem {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
    gap: 10px;
}
.about__checkitem::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}
.about__checkitem::after {
    position: absolute;
    content: url("../icon/check.svg");
    top: 2px;
    left: 3px;
}

.about__media {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.about__media__heading {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 30px 26px;
    width: 136px;
    text-align: center;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    z-index: 1;
}
.about__media__heading--decore {
    position: absolute;
    top: -39px;
    left: 84px;
}
.about__media__decore {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}
.about__media__heading--titel {
    font-family: Sora, sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #fff;
}
.about__media__heading--desc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}
.about__media_images {
    display: flex;
    position: relative;
    width: 494px;
    height: 559px;
}
.about__media_img {
    display: block;
    width: 450px;
    object-fit: cover;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}
.about__media_images::after {
    position: absolute;
    inset: auto 0 0;
    content: "";
    width: 494px;
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
    border-radius: 16px;
    z-index: -1;
}
.about__media__thumbs {
    position: relative;
    margin-right: auto;
}
.about__media__thumb {
    display: block;
    width: 458px;
    height: 500px;
    object-fit: cover;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
    margin-right: auto;
}
.about__media__thumb--decore {
    position: absolute;
}
.about__thumb__decore--1 {
    bottom: -52px;
    right: -39px;
}
.about__thumb__decore--2 {
    bottom: 155px;
    right: 15px;
}
.about__thumb__decore--3 {
    bottom: 213px;
    right: -27px;
}
.about__thumb__decore--4 {
    bottom: 460px;
    right: -26px;
}

.about__thumb__decore--5 {
    bottom: 483px;
    right: 16px;
}
.about__thumb__decore--6 {
    bottom: 462px;
    right: 54px;
}
.about__content--heading {
    max-width: 543px;
}
.about__content--desc {
    margin-top: 24px;
    max-width: 511px;
}
.about__list-item__img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.about__list {
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__list-item {
    display: flex;
    align-items: center;
    gap: 11px;
}
.about_list_line {
    margin-top: 14px;
    width: 100%;
    height: 0px;
    opacity: 0.07;
    border: 2px solid #ff5b2e;
}

.about_list_line--active {
    margin-top: -4px;
    width: 95px;
    height: 0px;
    border: 2px solid #ff5b2e;
}
.about__content__desc {
    margin-top: 36px;
    max-width: 391px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
.about__content__link {
    margin-top: 32px;
    display: inline-block;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
    border-bottom: 1.5px solid #ff5d31;
}
.services {
    margin-top: 130px;
    padding: 68px 0;
}

.services__inner {
    text-align: center;
}
.services__inner__heading--title {
    margin-top: 15px;
}
.services__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "services__left services__body services__rigth"
        "services__left services__body services__rigth"
        "services__left services__body services__rigth";
    gap: 24px 70px;
    align-items: center;
}
.services__left {
    grid-area: services__left;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.services__body {
    grid-area: services__body;
}
.services__rigth {
    grid-area: services__rigth;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.services__item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    height: 208px;
    text-align: left;
    background: #fff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}
.services__item__heading {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 12px;
}
.services__item__heading--line {
    display: block;
    width: 22px;
    height: 2px;
    transform: rotate(90deg);
    background: linear-gradient(#ff5b2e 100%, #ffa187 100%);
}
.services__item__heading--titel {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}
.services__item__heading--desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
.services__item__controls {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.services__item__controls--img {
    width: 12px;
    height: 12px;
    object-fit: cover;
}
.services__item__controls--link {
    font-family: Sora, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396a;
}
.services__body__images {
    position: relative;
    width: 447px;
    height: 621px;
    padding-bottom: 28px;
}
.services__body__images::after {
    position: absolute;
    bottom: 28px;
    left: 18.5px;
    display: block;
    content: "";
    width: 410px;
    height: 350px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
    z-index: -1;
}
.services__body__img {
    width: 100%;
    height: 100%;
}
.services__body__btn {
    --height: 56px;
    margin-top: 17px;
    min-width: 214px;
    background: transparent;
    color: #ff5b2e;
    border: 1px solid rgba(255, 91, 46, 0.6);
    border-radius: 31px;
}
.services__body__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.team {
    padding: 130px 0;
    background-color: #fffaf5;
}
.team__body {
    text-align: center;
}

.team__heading__label {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}
.team__heading__titel {
    margin-top: 15px;
    font-family: Sora, sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}
.team__list {
    margin: 45px 0;
    display: flex;
    gap: 37px;
}
.team__item__images {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.team__item__images::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 89%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 130px;
}
.team__item__images::after {
    position: absolute;
    content: "";
    width: calc(100% + 38px);
    height: 100%;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-size: 100%;
}

.team__item:nth-child(1) .team__item__images::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.team__item:nth-child(1) .team__item__images::after {
    background-image: url(../img/team-01.svg);
    background-position: bottom;
}

.team__item:nth-child(2) .team__item__images::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.team__item:nth-child(2) .team__item__images::after {
    background-image: url(../img/team-02.svg);
    background-position: 0 16px;
}

.team__item:nth-child(3) .team__item__images::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.team__item:nth-child(3) .team__item__images::after {
    background-image: url(../img/team-03.svg);
    background-position: bottom;
}

.team__item:nth-child(4) .team__item__images::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.team__item:nth-child(4) .team__item__images::after {
    background-image: url(../img/team-04.svg);
    background-position: 0 16px;
}
.team__item__img {
    display: block;
    position: relative;
    width: 100%;
    border-radius: inherit;
}
.team__item__desc {
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}
.team__item__titel {
    margin-top: 14px;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}
.team__item__bnt {
    --height: 56px;
    min-width: 193px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #ff5b2e;

    border: 1px solid rgba(255, 91, 46, 0.6);
    border-radius: 31px;
    text-align: center;
}
.team__item__bnt:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.pricing {
    padding: 86px 0;
    text-align: center;
}

.pricing__heading__desc {
    margin-top: 24px;
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}
.pricing_check {
    position: relative;
}
.pricing_check label {
    margin-top: 38px;
    display: inline-flex;
    align-items: center;
    width: 264px;
    height: 56px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    border-radius: 31px;
    cursor: pointer;
}
.pricing_check label::before {
    content: "Monthly";
    width: 131px;
    height: 56px;
    background: #ff5b2e;
    border-radius: 31px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 56px;
    text-align: center;
    color: #fff;
    transition: 0.25s;
}

.pricing_check label::after {
    content: "Yearly";
    width: 131px;
    height: 56px;
    background: transparent;
    border-radius: 31px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 56px;
    text-align: center;
    color: #ff5b2e;
    transition: 0.25s;
}
.pricing_check [type="checkbox"]:checked + label::before {
    color: #ff5b2e;
    background: transparent;
}
.pricing_check [type="checkbox"]:checked + label::after {
    color: #fff;
    background: #ff5b2e;
}

.pricing_img {
    position: absolute;
    bottom: 22px;
    left: calc(50% + 195px);
    transform: translateX(-50%);
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 44px;
}

.pricing__item {
    padding: 30px 28px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    text-align: left;
}
.pricing__item:hover {
    box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
}
.pricing__item:hover .pricing__item__btn {
    color: #fff;
    border-color: #ff5b2e;
    background-color: #ff5b2e;
}
.pricing__item__name {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color: #ff5b2e;
}
.pricing__item__titel {
    margin-top: 8px;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1px;
    color: #3f4065;
}
.pricing__item__price {
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1;
    color: #000958;
}
.pricing__item__btn {
    --height: 44px;
    margin-top: 22px;
    max-width: 246px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    border-radius: 39px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #ff5b2e;
    transition: 0.25s;
}
.pricing__item__aray {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.reviews {
    padding: 40px 0;
    background-color: #fffaf5;
}
.reviews__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__content {
    width: 47.27%;
}
.reviews__images {
    position: relative;
    width: 23.42%;
    height: 427px;
}
.reviews__images::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 80%;
    background: #ffda54;
    border-radius: 137px;
    left: 0;
    bottom: 0;
}
.reviews__img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 137px;
}
.reviews__btn {
    color: #ff5b2e;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #fff;
    border: 1.5px solid #ffd1c4;
}
.reviews__btn:hover {
    color: #fff;
    cursor: pointer;
    background: #ff5b2e;
    box-shadow: 0px 5px 27px rgba(255, 91, 46, 0.3);
}
.reviews__content__titel {
    font-family: Sora, sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}
.reviews__content__desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #000;
}
.reviews__content__name {
    position: relative;
    display: block;
    margin-top: 34px;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #282828;
    margin-left: 28px;
}
.reviews__content__name::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    left: -28px;
    bottom: 8px;
    border-radius: 1px;
}
.reviews__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.reviews__dot:first-child {
    width: 24px;
    height: 8px;
    background: #ff5b2e;
    border-radius: 4px;
}
.reviews__dot {
    width: 8px;
    height: 8px;
    border: 1px solid #ff5b2e;
    border-radius: 50%;
}
.blog {
    padding: 90px;
    background-color: #fffaf5;
}
.blog__inner__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__inner__right {
    margin-right: 73px;
}
.blog__inner__titel {
    font-family: Sora, sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.blog__inner__desc {
    width: 350px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
.blog__inner__btn {
    margin-top: 24px;
    min-width: 182px;
    --height: 56px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    border-radius: 31px;
    font-weight: 500;
    color: #ff5b2e;
}

.blog__inner__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}
.blog__item__images {
    position: relative;
    padding-top: 24px;
    padding-left: 36px;
    width: 100%;
    height: 362px;

    border-radius: 24px;
}
.blog__item:nth-child(1) .blog__item__images {
    background: #90ccff;
}
.blog__item:nth-child(2) .blog__item__images {
    background: #ff997e;
}

.blog__item:nth-child(3) .blog__item__images {
    background: #5bd6e2;
}

.blog__item__img {
    position: absolute;
    width: 90%;
    height: 82%;
    bottom: 0;
    right: 0;
}
.blog__item__day {
    display: block;

    font-family: Sora, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.21;
    color: #fff;
}
.blog__item__titel {
    margin-top: 28px;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.55;
    color: #000958;
}
.blog__item__desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
.footer {
    background: linear-gradient(to right, #fcdcde 42%, #fffaf5 42%);
}
.footer__body {
    display: flex;
}
.footer__right {
    padding: 114px 0 148px 0;
    width: 42%;
    background: #fcdcde;
}

.footer__left {
    flex: 1;
}
.form__group {
    margin-top: 35px;
    margin-bottom: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
}
.form__group__txt {
    position: relative;

    width: 60%;
    height: 46px;
    background: #fff;
    opacity: 0.6;
    border: 1px solid rgba(255, 91, 46, 0.25);
    border-radius: 23px;
    outline: none;
    padding: 16px 50px 16px 22px;
}
.form__group__btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 46px;
    background: #ff5b2e;
    border: none;
    box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
    border-radius: 22.5px;
    outline: none;
    margin-left: -46px;
    z-index: 1;
}
.form__group__btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.footer__titel {
    margin-bottom: 16px;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.11;
    color: #000958;
}
.footer__controls {
    display: flex;

    gap: 16px;
}
.footer__controls__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
}
.footer__list {
    padding: 52px 0 0 128px;
}
.footer__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__item__link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2;
    color: #656689;
}

.footer__copyright {
    margin-top: 52px;
    margin-left: 22px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.5;
}
